name: Lint PR title
on:
  pull_request_target:
    types: [opened, edited, reopened, synchronize]
permissions:
  pull-requests: write
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            perf
            refactor
            chore
            docs
            style
            test
            build
            ci
